h1 {
	color: #08298A;
	text-align: center;
	font: bold 60px calibri, sans-serif;
}

h3{
	text-align: center;
	color: white;
	font: bold 25px arial, sans-serif;
}

h4{
	color: #3104B4;
    font: bold 20px arial, sans-serif;
    margin-right: 3cm;
    margin-left: 3cm;
}

p {
	color: white;
    font: 18px arial, sans-serif;
    margin-right: 3cm;
    margin-left: 3cm;
}

li {
	color: white;
	font: 18px arial, sans-serif;
	margin-right: 5cm;
	margin-left: 5cm;
}

.center{
	text-align: center;
}

body {
	background: black;
}
